---
import Layout from "../layouts/Layout.astro";
import { AngularHello } from "../components/hello.component";
import SvelteHello from "../components/hello.svelte";
import { ReactHello } from "../components/hello";
import VueHello from "../components/hello.vue";
import AstroHello from "../components/hello.astro";

const svelte = 'Svelte';
const angular = 'Angular';
const react = 'React';
const vue = 'Vue';
const astro = 'Astro';

---

<Layout title="Welcome to Astro multri framework">
  <div class="grid grid-flow-col grid-cols-5 h-screen w-screen gap-2">
    <div class="flex flex-col justify-center">
      <AstroHello name={astro}/>
    </div>
    <div class="flex flex-col justify-center">
      <AngularHello client:visible name={angular} />
    </div>
    <div class="flex flex-col justify-center">
      <ReactHello client:visible name={react}/>
    </div>
    <div class="flex flex-col justify-center">
      <SvelteHello client:visible name={svelte} />
    </div>
    <div class="flex flex-col justify-center">
      <VueHello client:visible name={vue}/>
    </div>
  </div>
</Layout>
